# Virtual environment
venv/
env/

# Python cache files
__pycache__/
*.py[cod]

# IDE configurations (example for VSCode and PyCharm)
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
*.egg-info/
dist/
build/
*.whl

# Test result files
.coverage
nosetests.xml
coverage.xml
*.cover
*.log

# Flask instance folder
instance/

# SQLAlchemy files (if using SQLite or others)
*.db

# PyInstaller logs
*.log
